.content{
	min-height: 0px!important; 
	padding: 0px 15px 15px 15px;
}
.wrapper {
	overflow-x: hidden!important;
	overflow-y: hidden!important;
}
.checkbox {
	width: 20px!important;
}
.div-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	/*display: -ms-flexbox;  */
	display: -webkit-flex; 
	-webkit-justify-content: center;
	-webkit-align-items: center;
	
}
.content-header>h1 {
	margin-bottom: 20px!important;
}
@media screen and(max-width: 769px) {
	.btn-full-width{
		width: 100%;
	}
	.btn_full_size input{
		width: 100%;
	}
	.btn_full_size{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
