.background-content{
	background: url('../img/demo/bg.png') no-repeat;
	min-height: 86%;
}
.margin-div{
	margin: 20px 0 15px 0;
}
.padding-div{
	padding: 0px 0 10px 0;
}
input:active{
	color: #007aff !important;
}
.clear{
	clear: both;
}
.font-size-content{
	font-size: 30px;
	font-weight: bold;
	font-family: Arial;
}
.text-shadow{
	/*-webkit-text-shadow: 6px 7px 14px -3px rgba(0,0,0,0.75);
	-moz-text-shadow: 6px 7px 14px -3px rgba(0,0,0,0.75);
	text-shadow: 6px 7px 14px -3px rgba(0,0,0,0.75);
	}*/
	text-shadow: 0px 3px 10px #000;
}
.text-white{
	color: #170e66;
	font-family: Arial;
	font-weight: bold;
	/*text-shadow: 0px 1px 5px #000;*/
}
input::-moz-placeholder{
	color: black !important;
	font-weight: bold;
}
input:-moz-placeholder{
	color: black !important;
	font-weight: bold;
}